* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}


.top-banner {
  background-image: url(./image/top-banner.png);
  background-repeat: no-repeat;
}
.name-color {
  color: peru;
}
.text-color2 {
  color: red;
}
h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
h4,
h3 {
  margin-bottom: 10px;
}
.home-body {
  width: 50%;
  margin-top: 4rem;
}
.flex-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 120px;
}
.home-img-design {
  width: 90%;
  border-radius: 40%;
}
p {
  margin-bottom: 20px;
}
.hire-me {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-image: linear-gradient(to right,#f81231, #11ca11);
  border-radius: 10px;
  cursor: pointer;
  font-size: 400;
  text-align: center;
}
.about {
  margin-top: 20px;
  background-image: url(./image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.Experience {
  text-align: center;
  margin-bottom: 3rem;
}
.experience-item {
  border-radius: 5px;
  box-shadow: 10px 10px 40px gray;
  width: 320px;
}
.experience-item h3,
h4 {
  text-align: center;
}
.experience-item h4 {
  margin-top: 10px;
}
.contact-me-img {
  width: 50%;
}
